.ai-content-wrapper {

}


/* Список елементів */
.ai-items {
  display: flex;
  gap: 37px;
  margin-bottom: 66px;
}

.ai-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ai-icon-bg {
  background-color: #3a3a3a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-item-icon {
  fill: #fff;
}

.ai-item-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 132%;
  text-align: center;
  color: #fff;
}

/* Основна секція */
.ai {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
}

.ai-container {
  display: flex;
  flex-direction: row; /* <-- основна правка: розташування в рядок */
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.ai-content {
  max-width: 600px;
  position: relative;
  z-index: 2;
}

/* Герой-блок */
.ai-hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 17px;
  margin-bottom: 30px;
}

.ai-title {
  font-weight: 700;
  font-size: 241px;
  line-height: 100%;
  text-transform: uppercase;
  color: #8b57c2;
}

/* Основний опис */
.ai-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  width: 250px;
  padding-top: 30px;
}

.ai-description strong {
  font-weight: 700;
}

/* Додатковий опис */
.ai-description-two {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #fff;
  width: 503px;
  margin-bottom: 83px;
}

.ai-description-two strong {
  font-weight: 800;
}

/* Підзаголовки */
.ai-subtitle {
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 41px;
}

.ai-subtitle-two {
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  width: 639px;
  margin: 0 auto;
}

.ai-subtitle-two span {
  color: #8b57c2;
}

/* Кнопка */
.ai-btn {
  background: #8b57c2;
  border-radius: 8px;
  width: 272px;
  height: 56px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: background 0.4s ease-out, color 0.4s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-btn:hover {
  background: #fff;
  color: #000;
}

/* Зображення */
.ai-image {
  position: relative;
  top: 0;
  right: 0;
  width: 600px;
  height: auto;
  object-fit: contain;
  z-index: 0;
}
