
.footer {
  background-color: #232326;
  color: #fff;
}

/* Контейнер футера */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
}

/* Лого */
.footer-logo {
  padding-top: 44px;
}

/* Колонка 1 */
.footer-column-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Блок "Про компанію" */
.footer-about {
  display: flex;
  flex-direction: column;
  padding-top: 68px;
}

.footer-adress {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  width: 206px;
}

/* Соціальні іконки */
.social-icons {
  display: flex;
  gap: 20px;
}

.footer-icon {
  fill: #fff;
}

/* Заголовок блоку */
.footer-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 20px;
  color: #fff;
}

/* Елемент списку */
.footer-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 215%;
  color: #fff;
}

/* Контактна інформація */
.footer-contact {
  display: flex;
  flex-direction: column;
  width: 287px;
  padding-top: 68px;
}

.footer-contacts-tex {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}

/* Розділова лінія */
.footer-border {
  width: 100%;
  max-width: 1240px;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 40px 0;
}

/* Нижній футер */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Лінки зліва */
.footer-bottom__links {
  display: flex;
  flex-direction: row;
}

/* Текст зліва та телефон */
.footer-bottom__text,
.footer-contacts-tel {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-right: 110px;
}

.footer-contacts-tel {
  line-height: 2.5;
}

/* Лінки справа */
.footer-bottom__items {
  display: flex;
  gap: 27px;
  flex-direction: row;
}

.footer-bottom__item {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
