.footer {
   background-color: #232326;
   color: #fff;
}
.footer-container {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;

}

.footer-logo {
   padding-top: 44px;
}
.footer-column-1 {
   display: flex;
   flex-direction: column;
   gap: 20px;
  
}



.footer-about {
   display: flex;
   flex-direction: column;
   padding-top: 68px;
}


.footer-logo {
}
.footer-adress {
font-weight: 400;
font-size: 12px;
line-height: 133%;
color: #fff;
width: 206px;
}
.social-icons {
   display: flex;
   flex-direction: row;
   gap: 20px;
}
.footer-icon {
   fill: #fff;
}
.footer-subtitle {
font-weight: 700;
font-size: 18px;
line-height: 133%;
color: #fff;
margin-bottom: 20px;
}
.footer-items {
}
.footer-item {
font-weight: 400;
font-size: 13px;
line-height: 215%;
color: #fff;
}
.footer-contact {
   display: flex;
   flex-direction: column;
   width: 287px;
    padding-top: 68px;

}
.footer-contacts-tex {
font-weight: 400;
font-size: 13px;
color: #fff;
}
.footer-border {
   width: 1240px;
height: 1px;
background: rgba(255, 255, 255, 0.1);
}


.footer-bottom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer-bottom__links {
   display: flex;
   flex-direction: row;
}
.footer-bottom__text, .footer-contacts-tel {
font-weight: 400;
font-size: 12px;
color: #fff;
margin-right: 110px;
}

.footer-contacts-tel {
   line-height: 2.5;
}
.footer-bottom__items {
   display: flex;
   flex-direction: row;
   gap: 27px;

}
.footer-bottom__item {
font-weight: 400;
font-size: 12px;
color: #fff;
}
.footer-bottom__link {
}