.header {
    
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    border: none;

}
.header-nav {

}
.header-list {
    display: flex;
    gap: 40px; 
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 15px;
line-height: 160%;
color: rgba(255, 255, 255, 0.8);
opacity: 0.8;
}
.header-link.active {
   color: #8b57c2;
}

.header-btn {
    border: 1px solid #fff;
border-radius: 10px;
width: 272px;
height: 56px;
font-weight: 700;
font-size: 16px;
color: #fff;
background-color: transparent;
transition: ease-out 0.9s;
display: flex;
justify-content: center;
align-items: center;
}

.header-btn:hover {
    background: #8b57c2;
    color:#fff;
}