
.header {
  /* background, padding або position при потребі */
}

/* Головний контейнер */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Лого */
.header-logo {
  border: none;
}

/* Навігація */
.header-nav {
  /*для позиціонування меню */
}

.header-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Посилання */
.header-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.header-link:hover {
  opacity: 1;
  color: #fff;
}

.header-link.active {
  color: #8b57c2;
  opacity: 1;
}

/* Кнопка */
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #8b57c2;
  color: #fff;
}
